*
{
	margin: 0;
	font-family: sans-serif;
}
.header{
display: flex;
align-items: center;
justify-content: space-around;
margin-top: 10px;
	p{
		font-size: 15px;
		font-weight: 500;
		color:#000000 ;
	}
	button{
		width: 107px;
		height: 40px;
		color:#2642F8 ;
		border: none;
		border-radius: 50px;
		background-color: transparent;
		border: 1px solid #2642F8;
		font-size: 16px;
		font-weight: 500;
	}
	.Flex{
		display: flex;
		
		width: 800px;
		justify-content: space-around;
	}


}
@mixin Author {
	font-size: 16px;
	font-weight: 600;
	color:#000000 ;
}
@mixin pBlogs {
	font-size: 14px;
	font-weight: 600;
	color:#000000 ;
}
@mixin Bigtext {
	font-size: 44px;
	font-weight: 700;
	color: #000000;
	width: 417px;
}
@mixin LoremFun {
	font-size: 18px;
font-weight: 500;
color: #000000;
width:460px ;
line-height: 28px
}
@mixin Audii {
	font-size: 14px;
font-weight: 500;
color: #828282;


}

.sectionfirst{
	display: flex;

	align-items: center;
	justify-content: space-around;
	width: 80%;
	margin: auto;
		margin-top: 100px;
	.pbl{
		@include pBlogs;
	}
	.moredata{
		@include Bigtext;
	}
	.plorem{
		@include LoremFun;
	}
	.divPBL{
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.Pdec{
		font-size: 14px;
		font-weight: 500;
		color: #828282;
	}
	.Daterange{
		display: flex;
		align-items: center;
		gap: 10px;
	}
	.DateDiv{
		display: flex;
		justify-content: space-around;
	}
	.author{
		@include Author;
	}
	.Audi{
@include Audii;
	}
	.Display{
		display: flex;
		align-items: center;
		gap: 10px;
	}
	
}
@mixin when {
	font-size: 20px;
	font-weight: 600;
	color: #333333;
	width: 340px;

}
@mixin short {
	font-size: 16px;
	font-weight: 300;
	color: #333333;
	width: 340px;
	line-height: 20px;

}
.sectionsecond{
	margin-top: 150px;
	.divsecond{
		display: flex;
		align-items: center;
		gap: 20px;
	}
	.pbl{
		@include pBlogs;
	}
	.Audi{
@include Audii;
	}
	.pwhen{
	@include when;	
	}
	.pshort{
		@include short ;
	}
	.Display{
		display: flex;
		align-items: center;
		gap: 10px;
	}
.ptext{
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-top: 20px;
}
.FlexBot{
	display: flex;
	flex-wrap: wrap;
	width: 60%;
	gap: 50px;
}
.author{
		@include Author;
	}
	.plorem{
		@include LoremFun;
		width:348px ;
	}
	.Column{
		display: flex;
		flex-direction: column;
		gap: 88px;
	}
	.LineHeight{
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.secondChild{
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
	
	.sectionThree{
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top: 160px;
		.moredata{
		@include Bigtext;
	}
	.int1{
		width: 360px;
		height: 40px;
		border-radius: 10px;
	}
	.butSign{
		width: 153px;
		height: 40px;
		background-color:#2642F8 ;
		border-radius: 50px;
		font-size: 16px;
		font-weight: 500;
		color: #F2F2F2;
		border: none;
	}
	.let{
		font-size: 18px;
		font-weight: 500;
		color: #828282;
		width: 405px;
		line-height: 24px;
	}
	.LinIn{
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	}


