*
{
	margin: 0;
	font-family: sans-serif;
}
.header{
display: flex;
align-items: center;
justify-content: space-around;
margin-top: 10px;
	p{
		font-size: 15px;
		font-weight: 500;
		color:#000000 ;
	}
	button{
		width: 107px;
		height: 40px;
		color:#2642F8 ;
		border: none;
		border-radius: 50px;
		background-color: transparent;
		border: 1px solid #2642F8;
		font-size: 16px;
		font-weight: 500;
	}
	.Flex{
		display: flex;
		
		width: 800px;
		justify-content: space-around;
	}


}


