* {
  margin: 0;
  font-family: sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}
.header p {
  font-size: 15px;
  font-weight: 500;
  color: #000000;
}
.header button {
  width: 107px;
  height: 40px;
  color: #2642F8;
  border: none;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #2642F8;
  font-size: 16px;
  font-weight: 500;
}
.header .Flex {
  display: flex;
  width: 800px;
  justify-content: space-around;
}

.sectionfirst {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
.sectionfirst .pbl {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}
.sectionfirst .moredata {
  font-size: 44px;
  font-weight: 700;
  color: #000000;
  width: 417px;
}
.sectionfirst .plorem {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  width: 460px;
  line-height: 28px;
}
.sectionfirst .divPBL {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sectionfirst .Pdec {
  font-size: 14px;
  font-weight: 500;
  color: #828282;
}
.sectionfirst .Daterange {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sectionfirst .DateDiv {
  display: flex;
  justify-content: space-around;
}
.sectionfirst .author {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
.sectionfirst .Audi {
  font-size: 14px;
  font-weight: 500;
  color: #828282;
}
.sectionfirst .Display {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sectionsecond {
  margin-top: 150px;
}
.sectionsecond .divsecond {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sectionsecond .pbl {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}
.sectionsecond .Audi {
  font-size: 14px;
  font-weight: 500;
  color: #828282;
}
.sectionsecond .pwhen {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  width: 340px;
}
.sectionsecond .pshort {
  font-size: 16px;
  font-weight: 300;
  color: #333333;
  width: 340px;
  line-height: 20px;
}
.sectionsecond .Display {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sectionsecond .ptext {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}
.sectionsecond .FlexBot {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  gap: 50px;
}
.sectionsecond .author {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
.sectionsecond .plorem {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  width: 460px;
  line-height: 28px;
  width: 348px;
}
.sectionsecond .Column {
  display: flex;
  flex-direction: column;
  gap: 88px;
}
.sectionsecond .LineHeight {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sectionsecond .secondChild {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionThree {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 160px;
}
.sectionThree .moredata {
  font-size: 44px;
  font-weight: 700;
  color: #000000;
  width: 417px;
}
.sectionThree .int1 {
  width: 360px;
  height: 40px;
  border-radius: 10px;
}
.sectionThree .butSign {
  width: 153px;
  height: 40px;
  background-color: #2642F8;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  color: #F2F2F2;
  border: none;
}
.sectionThree .let {
  font-size: 18px;
  font-weight: 500;
  color: #828282;
  width: 405px;
  line-height: 24px;
}
.sectionThree .LinIn {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sectionFour {
  margin-top: 100px;
  background-color: #333333;
  padding-top: 100px;
  padding-bottom: 100px;
}
.sectionFour .Backgrondimg {
  background-image: url(./Rectangle\ 271.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 400px;
  margin: auto;
}
.sectionFour .podcast {
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
}
.sectionFour .pThe {
  width: 440px;
  font-size: 64px;
  font-weight: 700;
  color: #FFFFFF;
}
.sectionFour .leftbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 50px;
  padding-left: 40px;
}
.sectionFour .pbl {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  color: white;
}
.sectionFour .Audi {
  font-size: 14px;
  font-weight: 500;
  color: #828282;
  color: white;
}
.sectionFour .pwhen {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  width: 340px;
  color: white;
}
.sectionFour .pshort {
  font-size: 16px;
  font-weight: 300;
  color: #333333;
  width: 340px;
  line-height: 20px;
  color: white;
}
.sectionFour .Display {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sectionFour .ptext {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.sectionFour .author {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  color: white;
}
.sectionFour .plorem {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  width: 460px;
  line-height: 28px;
  width: 348px;
}
.sectionFour .LineHeight {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sectionFour .secondChild {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionFour .divsecond {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sectionFour .divflex {
  display: flex;
  margin-top: 20px;
  gap: 40px;
}
.sectionFour .fourChild {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.sectionFive {
  padding-bottom: 30px;
}
.sectionFive .urdates {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.sectionFive .hr4 {
  width: 94%;
  margin: auto;
  margin-top: 40px;
}
.sectionFive .divsecond {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sectionFive .pbl {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}
.sectionFive .Audi {
  font-size: 14px;
  font-weight: 500;
  color: #828282;
}
.sectionFive .pwhen {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  width: 340px;
}
.sectionFive .pshort {
  font-size: 16px;
  font-weight: 300;
  color: #333333;
  width: 340px;
  line-height: 20px;
}
.sectionFive .Display {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sectionFive .ptext {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}
.sectionFive .FlexBot {
  display: flex;
  flex-wrap: wrap;
  width: 74%;
  gap: 50px;
  margin: auto;
  margin-top: 50px;
}
.sectionFive .author {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
.sectionFive .plorem {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  width: 460px;
  line-height: 28px;
  width: 348px;
}

.SectionSix {
  background-color: #2642F8;
  padding: 50px;
}
.SectionSix .Join {
  font-size: 40px;
  font-weight: 500;
  color: #FFFFFF;
  width: 762px;
  margin: auto;
  text-align: center;
}
.SectionSix .butget {
  width: 180px;
  height: 40px;
  border-radius: 50px;
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  color: #2642F8;
  border: none;
}
.SectionSix .disp {
  display: flex;
  align-items: center;
  gap: 20px;
}
.SectionSix .No {
  font-size: 14px;
  font-weight: 300;
  color: #FFFFFF;
}
.SectionSix .DIVFLEX {
  display: flex;
  gap: 50px;
}
.SectionSix .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}/*# sourceMappingURL=main.css.map */