*
{
	margin: 0;
	font-family: sans-serif;
}
.header{
display: flex;
align-items: center;
justify-content: space-around;
margin-top: 10px;
	p{
		font-size: 15px;
		font-weight: 500;
		color:#000000 ;
	}
	button{
		width: 107px;
		height: 40px;
		color:#2642F8 ;
		border: none;
		border-radius: 50px;
		background-color: transparent;
		border: 1px solid #2642F8;
		font-size: 16px;
		font-weight: 500;
	}
	.Flex{
		display: flex;
		
		width: 800px;
		justify-content: space-around;
	}


}
@mixin Author {
	font-size: 16px;
	font-weight: 600;
	color:#000000 ;
}
@mixin pBlogs {
	font-size: 14px;
	font-weight: 600;
	color:#000000 ;
}
@mixin Bigtext {
	font-size: 44px;
	font-weight: 700;
	color: #000000;
	width: 417px;
}
@mixin LoremFun {
	font-size: 18px;
font-weight: 500;
color: #000000;
width:460px ;
line-height: 28px
}
@mixin Audii {
	font-size: 14px;
font-weight: 500;
color: #828282;


}

.sectionfirst{
	display: flex;

	align-items: center;
	justify-content: space-around;
	width: 80%;
	margin: auto;
		margin-top: 100px;
	.pbl{
		@include pBlogs;
	}
	.moredata{
		@include Bigtext;
	}
	.plorem{
		@include LoremFun;
	}
	.divPBL{
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.Pdec{
		font-size: 14px;
		font-weight: 500;
		color: #828282;
	}
	.Daterange{
		display: flex;
		align-items: center;
		gap: 10px;
	}
	.DateDiv{
		display: flex;
		justify-content: space-around;
	}
	.author{
		@include Author;
	}
	.Audi{
@include Audii;
	}
	.Display{
		display: flex;
		align-items: center;
		gap: 10px;
	}
	
}


